
# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/       # uv creates this

# pyenv
.python-version

# uv lock file
uv.lock

# Data files
data/
*.csv
*.h5
*.npy

# Logs
*.log

# VSCode / IDE files
.vscode/
.idea/
*.egg-info/

# Jupyter / notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
